<ul>
  <h1><%= @list.name %></h1>
</ul>

<ol>

  <% @list.bookmarks.each do |bookmark| %>
  <li>
    <%= bookmark.movie.title %> - <%= bookmark.comment %>
  </li>
  <% end %>
</ol>
<h2>Add movie to this list</h2>

 <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
          <%= f.association :movie, prompt: "Select a movie", input_html: {data: { controller: "tom-select"}} %>
          <%= f.submit class: "btn btn-flat" %>
        <% end %>
